<header id="<%= pageHeader %>">
  <h1 id="headerTitleID">What's in my Fridge?</h1>
  <h2 id="headerPurpose"><%= headerPurpose %></h2>
  <nav id="<%= navID %>">
    <ul id="nav_links">
      <li id="<%= search_link %>" class="links"><a href="/search">Search</a></li>
      <li id="<%= aboutus_link %>" class="links"><a href="/about-us">About Us</a></li>
      <li class="links"><a href="/">Logout</a></li>
    </ul>
  </nav>
</header>